---
---

@charset "utf-8";

$color-primary-0: #B4D3EF;	// Main Primary color */
$color-primary-1: #FAFCFE;
$color-primary-2: #DCEBF8;
$color-primary-3: #8CBBE5;
$color-primary-4: #69A7DE;
$beige: #b1c4ff1a;
$beige: #b1c4ff1a;
$black: #000;
$dark-red: #820325;
$dark: #aabeff4b;
$grey: #323232;
$red: #e37de5;
$blue: $color-primary-4;
$grey-dark: $grey;
$background-color: $dark;

// Update bulma colors, globally.
$white: $beige;

$text: $black;
$text-inverted: $grey;

$link: $red;
$link-visited: $link;

$link-hover: $dark-red;
$link-focus: $link-hover;
$link-active: $link-hover;

$navbar-background-color: $background-color;
$navbar-item-hover-background-color: $background-color;
$navbar-dropdown-item-hover-background-color: $background-color;

@import 'bulma/bulma.sass';

.content {
  a {
    border-bottom: 1px solid $link;

    &:hover,
    &:focus,
    &:active {
      border-bottom: 2px solid $link-hover;
    }
  }
}

.table {
  background-color: transparent;
}

.hero-header {
  background-clip: border-box;
  background-color: $dark;
  background-origin: padding-box;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  width: 100%;

  &.no-image {
    height: auto;
  }

  @include tablet() {
    background-attachment: fixed;
  }
}

.hero-header-title {
  padding-top: 160px;
  text-align: center;
  text-shadow: none;

  h1,
  p {
    color: $black;
  }

  .no-image & {
    padding-top: 80px;
    text-shadow: none;

    h1,
    p {
      color: $text;
    }
  }

  @include tablet() {
    padding-top: 20vh;
  }
}

.hero-foot {
  color: $beige;

  .credit {
    text-align: right;
    font-size: 0.6em;
  }
}

.home {
  .column {
    text-align: center;

    .icon svg {
      height: 4em;
      width: 4em;
    }
  }

  @include mobile() {
    display: none;
  }
}

.people {
  @include mobile() {
    .card {
      margin-bottom: 1em;

      .media-content {
        overflow-x: initial;
      }
      .media-left {
        display: none;
      }
    }
  }

  @include tablet() {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}

.event {
  .event-credits {
    border-top: 2px solid $red;
    font-style: italic;
    margin-top: 3em;
    padding-top: 1em;
  }

  .event-twitter-moment {
    & > p {
      margin: 0 auto;
      max-width: 550px;
      text-align: center;
    }
  }
}

.events {
  .google-calendar {
    margin-top: 1em;

    iframe {
      height: 400px;
      width: 100%;
    }
  }
}


.content blockquote {
  
  &.details {
    background: none;
    border-left: none;
    padding-bottom: 1em;
    padding-top: 0em;
  }

  &.requirements {
    border: none;
    background: $background-color;
    // box-shadow: 2px 2px $grey;
  }
}

.flongle {
  display: none;
}




@media (max-width:768px) {
  .section1{
      margin: 0 10px;
  }

  .section2_text {
      margin: 0 10px;
  }

}

html, .container, nav, .navbar-burger, .navbar-menu, .login, .logo, .navbar-item, .navbar-start, .navbar-end {
  // background: #F6F6F6;
  // background-color: #F6F6F6;
  background: white;
  background-color: white;
}

.container {
  padding-left: 0%;
  padding-right: 0%;
  font-family: sans-serif;
}

/* navbar START*/

.logo {
  font-weight: 800;
  font-size: 1.875rem;
  color: #1D6CAF;
}



.login {
  padding: 0.625rem 1.5rem;
  font-size: 1.125rem;
  border: 0;
}
.is-active {
  font-weight: bolder;
}

.sign-up {
  padding: 0.625rem 1.5rem;
  background: #1D6CAF;
  border: 1px solid #000000;
  font-size: 1.125rem;
  color: #FFFFFF;
}

.sign-up:hover {
  color: #000000;
  background-color: #FFFFFF;
}

/* navbar END*/


/* section1 START*/

.section1 {
  width: auto;
  height: 39.125rem;
  margin-top: 2.875rem;
}

/* .section1_text, .section1_img{
  height: 100%;
} */

.come_join_text, .welcome_text{
  margin-top: 1.5rem;
}

.section1_text h1 {
  font-size: 3.375rem;
  font-weight: bolder;
  color: #000000;
}

.section1_text p {
  font-size: 1.125rem;
  max-width: 29.25rem;
}

.section1_text a {
  padding: 1.25rem 2.5rem;
  background: #1D6CAF;
  border-radius: 0.375rem;
  font-weight: 800;
  color: #FFFFFF;
  font-size: 1.125rem;
}

.section1_text a:hover {
  color: #1D6CAF;
  background-color: #FFFFFF;
}

.section1_img img {
  width: auto;
  height: auto;
  float: right;
}

/* section1 END*/



/* section2 START*/

.section2 {
  margin: 11.5rem auto;
}

.section2_text p:first-of-type {
  font-size: 1.125rem;
  font-weight: 500;
}

.section2_text p:nth-of-type(2) {
  font-size: 3rem;
  font-weight: 800;
  margin: 1.5rem 0;
  color: #000000;
}

.section2_text p:nth-of-type(3) {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 1.5rem 0;
}

.section2_cards {
  justify-content: space-between;
  margin: 4.5rem auto;
  padding: 0;
}

.section2_cards .card {
  background-color: white;
  &.is-fullheight {
      height: 100%;
      display: flex;
      flex-direction: column;

      .card-content {
          margin-bottom: auto;
      }
      .card-footer {
          margin-top: auto;
        .button {
          border-radius: 0;
        }
      }
  }
}

/* section2 END*/



/* footer START*/

.footer {
  background: #98C2EA;
  padding: 1rem 1rem 4rem 1rem;
}

.footer .container{
  background: #98C2EA;
}


/* footer END*/
