---
---

@charset "utf-8";

$color-primary-0: #B4D3EF;	// Main Primary color */
$color-primary-1: #87B3DA;
$color-primary-2: #5D8EBB;
$color-primary-3: #1D6CAF;
$color-primary-4: #3273DC;
$color-primary-oppsite-0: #03081C;
$color-primary-oppsite-1: #091654;
$color-primary-oppsite-2: #0428CF;
$color-secondary-0: #B0F0D8;	// Main Secondary color*/
$color-secondary-1: #83DDBB;
$color-secondary-2: #58C199;

$beige: #b1c4ff1a;
$beige: #b1c4ff1a;
$black: #000;
$dark-red: #820325;
$dark: #aabeff4b;
$grey: #323232;
$red: #e37de5;

@import 'bulma/bulma.sass';

.table {
  background-color: transparent;
}

.home {
  .column {
    text-align: center;

    .icon svg {
      height: 4em;
      width: 4em;
    }
  }

  @include mobile() {
    display: none;
  }
}

.people {
  @include mobile() {
    .card {
      margin-bottom: 1em;

      .media-content {
        overflow-x: initial;
      }
      .media-left {
        display: none;
      }
    }
  }

  @include tablet() {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}

.event {
  .event-credits {
    border-top: 2px solid $red;
    font-style: italic;
    margin-top: 3em;
    padding-top: 1em;
  }

  .event-twitter-moment {
    & > p {
      margin: 0 auto;
      max-width: 550px;
      text-align: center;
    }
  }
}

.events {
  .google-calendar {
    margin-top: 1em;

    iframe {
      height: 400px;
      width: 100%;
    }
  }
}


.content blockquote {
  
  &.details {
    background: none;
    border-left: none;
    padding-bottom: 1em;
    padding-top: 0em;
  }

  &.requirements {
    border: none;
    background: white;
    // box-shadow: 2px 2px $grey;
  }
}

.flongle {
  display: none;
}

@media (max-width:768px) {
  .section1{
      margin: 0 0.625rem;
  }

  .section2_text {
      margin: 0 0.625rem;
  }

}

html, .container, nav, .navbar-burger, .navbar-menu, .login, .logo, .navbar-item, .navbar-start, .navbar-end {
  // background: #F6F6F6;
  // background-color: #F6F6F6;
  background: white;
  background-color: white;
}

.container {
  padding-left: 0%;
  padding-right: 0%;
  font-family: sans-serif;
}

.passed_content{
  a:not(.button){
    text-decoration: underline;
  }

  a.button{
    color: white;
    background: $color-primary-3;
  }
  a.button:hover{
    color: black;
    background: $color-primary-1;
    border: 1px solid #000000;
  }
}

/* navbar START*/

.navbar-menu a:hover{
  background-color: white;
  color: black;
  text-decoration: underline;
  text-decoration-color: $color-secondary-0;
  text-decoration-thickness: 0.2rem;
}

.logo {
  font-weight: 800;
  font-size: 1.875rem;
  color: $color-primary-3;
}

.logo:hover{
  color: $color-primary-4;
}

.login {
  padding: 0.625rem 1.5rem;
  font-size: 1.125rem;
  border: 0;
}
.is-active {
  font-weight: bolder;
}

.sign-up {
  padding: 0.625rem 1.5rem;
  background: $color-primary-1;
  font-size: 1.125rem;
  color: white;
  border: 1px solid $color-primary-1;

}

.sign-up:hover {
  color: white !important;
  background: $color-primary-2 !important;
  border: 1px solid #000000;
  text-decoration: none !important;
}

/* navbar END*/


/* section1 START*/

.section1 {
  width: auto;
  height: 39.125rem;
  margin-top: 2.875rem;
  a{
    text-decoration: none;
  }
}

/* .section1_text, .section1_img{
  height: 100%;
} */

.come_join_text, .welcome_text{
  margin-top: 1.5rem;
}

.section1_text h1 {
  font-size: 3.375rem;
  font-weight: bolder;
  color: #000000;
}

.section1_text p {
  font-size: 1.125rem;
  max-width: 29.25rem;
}

.section1_text a {
  padding: 1.25rem 2.5rem;
  background: #1D6CAF;
  border-radius: 0.375rem;
  font-weight: 800;
  color: #FFFFFF;
  font-size: 1.125rem;
}

.section1_text a:hover {
  color: #1D6CAF;
  background-color: #FFFFFF;
}

.section1_img img {
  width: auto;
  height: auto;
  float: right;
}

/* section1 END*/



/* section2 START*/

.section2 {
  margin: 11.5rem auto;
  a{
    text-decoration: none;
  }
}

.section2_text p:first-of-type {
  font-size: 1.125rem;
  font-weight: 500;
}

.section2_text p:nth-of-type(2) {
  font-size: 3rem;
  font-weight: 800;
  margin: 1.5rem 0;
  color: #000000;
}

.section2_text p:nth-of-type(3) {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 1.5rem 0;
}

.section2_cards {
  justify-content: space-between;
  margin: 4.5rem auto;
  padding: 0;
}

.section2_cards .card {
  background-color: white;
  &.is-fullheight {
      height: 100%;
      display: flex;
      flex-direction: column;

      .card-content {
          margin-bottom: auto;
      }
      .card-footer {
          margin-top: auto;
        .button {
          border-radius: 0;
        }
      }
  }
}

/* section2 END*/



/* footer START*/

.footer{
  background: #98C2EA;
  padding: 1rem 1rem 4rem 1rem;
  a{
    text-decoration: underline;
    color: $color-primary-oppsite-0;
  }
  a:hover{
    color: #0428CF;
  }
}

.footer .container{
  background: #98C2EA;
}



/* footer END*/
