{% extends 'base.html' %}
{% block body %}

<div class="quiz_wrapper columns mb-6">
	{% include 'chapter_menu.html' %}
	<div class="quiz column is-four-fifths p-6">
		<div class="section">
			<p class="is-size-3 has-text-weight-bold mb-3">Welcome to level 3!</p>
			<p class="my-4">In this level, we'll learn to how to read a paper and conduct data analysis using the data samples from the original paper and compare them.</p>
			<p class="mt-5">You mighr be surprised that you can eventually write a paper on your own.</p>
			<p class="my-4"><a href="/level/3/chapter/1" class="button is-link is-fullwidth start_tbn"><strong>Start</strong></a></p>
		</div>
	</div>
</div>
{% endblock %}