<footer class="footer">
  <div class=" columns">
      <div class="footer_left column">
          <p class="bottom_logo">DNAnalyzer</p>
          <p class="get_in_touch">Get in touch with us</p>
          <div class="social_row">
              <a href="https://gitter.im/{{ site.gitter }}">
                  <img src="{{ site.baseurl }}/images/gitter.svg" alt="Discuss with us on Gitter">
              </a>
              <a href="{{ site.google_group }}">
                  <img src="{{ site.baseurl }}/images/email.svg" alt="Join the mailing list">
              </a>
              <a href="mailto:{{ site.email }}">
                  <img src="{{ site.baseurl }}/images/mailing_list.svg" alt="hello@streetscience.community">
              </a>
          </div>
          <div class="social_row">
              <a href="https://twitter.com/{{ site.twitter }}">
                  <img src="{{ site.baseurl }}/images/twitter.svg" alt="StreetScienceCo">
              </a>
              <a href="https://www.instagram.com/{{ site.instagram }}">
                  <img src="{{ site.baseurl }}/images/ig.svg" alt="StreetScienceCo">
              </a>
              <a href="{{ site.github.repository_url }}">
                  <img src="{{ site.baseurl }}/images/github.svg" alt="StreetScienceCommunity">
              </a>
          </div>
      </div>
      <div class="footer_right column">
          <p>
              If you want to report a problem or suggest an enhancement we'd love for you to <a
                  href="https://github.com/StreetScienceCommunity/DNAnalyzer/issues/new">open an issue</a> on
              our GitHub repository because then we can get right on it.

          </p>
          <p>
              The website content is licensed
              <a href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY SA 4.0</a>.
          </p>
      </div>

  </div>
</footer>




<!-- <footer class="footer">
  <div class="container content">
    <div class="columns">
      <div class="column">
        <h3>Get in touch</h3>
        <p>
          <i class="fab fa-gitter"></i>
          Discuss with us on
          <a href="https://gitter.im/{{ site.gitter }}">Gitter</a>
          <br />
          <i class="fas fa-envelope"></i>
          Join the 
          <a href="{{ site.google_group }}">mailing list</a>
          <br/>
          <i class="fas fa-at"></i>
          <a href="mailto:{{ site.email }}">
            {{ site.email|replace:'@','[at]' }}
          </a>
          <br />
          <i class="fab fa-twitter"></i>
          <a href="https://twitter.com/{{ site.twitter }}">
            {{ site.twitter }}
          </a>
          <br />
          <i class="fab fa-instagram"></i>
          <a href="https://www.instagram.com/{{ site.instagram }}">
            {{ site.instagram }}
          </a>
          <br />
          <i class="fab fa-github"></i>
          <a href="{{ site.github.repository_url }}">
            {{ site.github.owner_name }}
          </a>
        </p>
      </div>
      <div class="column is-5">
        <p>
          If you want to report a problem or suggest an enhancement we'd love
          for you to
          <a href="{{ site.github.repository_url }}/issues/new">open an issue</a>
          on our GitHub repository because then we can get right on it.
        </p>
        <p>
          The website content is licensed
          <a href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY SA 4.0</a>.
        </p>
      </div>
    </div>
  </div>
</footer> -->
