# Let's start the Quiz!

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<div>
{% assign quiz = site.data.quizzes[include.file] %}
{% assign questions = quiz.questions %}
<h3>
{% if quiz.title %}
	{{ quiz.title }}
{% endif %}
</h3>
</div>
<div>
{% for item in questions %}
	{% if item.type == "multiple-choice" %}
		{% include quiz/mc-questions.html item=item count=forloop.index text = item.question.text image = item.question.image %}
	{% endif %}
{% endfor %}
</div>