{% extends 'base.html' %}
{% block body %}

<div class="quiz_wrapper columns mb-6">
	{% include 'chapter_menu.html' %}
		<div class="quiz column is-four-fifths p-6">
			<div class="section">
				<p class="is-size-3 has-text-weight-bold mb-3">Level {{chapter.level_id}} / Chapter {{chapter.order_id}}: {{chapter.name}}</p>
				<!--<div><a href="slides.html">Slides</a></div> -->
				{% if chapter.url %}
				<figure class="image is-16by9">
					<iframe class="has-ratio" width="600" height="450" src="https://www.youtube.com/embed/{{chapter.url}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</figure>
				{% endif %}
			</div>
			{% if chapter.id == 6 %}
				<p class="is-size-5 my-4"> Starting from a beer bottle the cellwals of living organisms in the liquid are destroyed.
				In several washing and cleaning steps the DNA is isolated until finally the liquid is tested for if it contains engah amount of DNA. </p>
				<img src="/static/quiz_images/protocol_extraction.png" alt="">
				<p class="is-size-5 my-4">To learn more please check the extraction protocol </p>
				<p class="my-4"><a href="https://streetscience.community/protocols/beer-dna-extraction/" class="button is-link is-fullwidth start_tbn"><strong>Protocol</strong></a></p>
			{% endif %}
			{% if chapter.id == 7 %}
				<p class="is-size-5 my-4">Now the extracted DNA can be sequenced. The DNA is prepared for sequencing by adding adapters to the sequences.</p>
				<p class="is-size-5 my-4">They are needed so the sequence can be bound to a motor protein which will than push the sequence through a nanopore.</p>
				<p class="is-size-5 my-4">The sequence is read with the nanopore by reading out the current the sequence is generating at each position.</p>
				<img src="/static/quiz_images/protocol_sequencing.png" alt="">
				<p class="is-size-5 my-4">To learn more please check the sequencing protocol</p>
				<p class="my-4"><a href="https://streetscience.community/protocols/beer-dna-sequencing/" class="button is-link is-fullwidth start_tbn"><strong>Protocol</strong></a></p>
			{% endif %}
			{% if chapter.id == 8 %}
				<div class="m-3">
					<p class="is-size-4 my-4">To analyze the sequence data we generated, we use <a href="https://galaxyproject.org/">Galaxy</a>, a platform dedicated to data analysis</p>
					<!--<figure class="image is-16by9 mb-6">
						<iframe class="has-ratio" width="600" height="450" src="https://www.youtube.com/embed/k6fTVIR4GME?list=PLNFLKDpdM3B9UaxWEXgziHXO3k-003FzE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</figure>
					<hr>-->
					<!--<p class="is-size-4 my-4">The galaxy training community even prepares easy to follow tutorials.</p>
					<figure class="image is-16by9 mb-6">
						<iframe class="has-ratio" width="600" height="450" src="https://www.youtube.com/embed/lDqWxzWNk1k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</figure>
					<hr>-->
					<!--<p class="is-size-4 my-4">To learn how to analyze beer data, Galaxy community provided BeerDEcoded workshop</p>-->
					<p class="my-4 mb-6"><a href="https://training.galaxyproject.org/training-material/topics/metagenomics/tutorials/beer-data-analysis/tutorial.html" class="button is-link is-fullwidth start_tbn"><strong>Tutorial</strong></a></p>
					<hr>
					<p class="is-size-4 my-4">Once the tutorial is done, share your Galaxy history via link (as explained in the tutorial) to gain points</p>
					<!--<p class="is-size-4 my-4">And here is a short explainition on how to get the URL…</p>
					<ol class="mt-4 mb-6 is-size-5">
						<li class="ml-6">Open the <strong>History Options</strong> <i class="fas fa-cog" aria-hidden="true"></i><span class="visually-hidden">galaxy-gear</span> menu (gear icon) at the top of your history panel
							<ol class="ml-6">
								<li><i class="fas fa-toggle-on" aria-hidden="true"></i><span class="visually-hidden">galaxy-toggle</span> <strong>Make History accessible</strong></li>
								<li>A <strong>Share Link</strong> will appear that you give to others</li>
							</ol>
						</li>
						<li class="ml-6">Anybody who has this link can view and copy your history</li>
					</ol>-->
					<form action="/galaxy_history">
						<div class="field mb-4">
						  <p class="control has-icons-left">
							<input class="input" type="url" placeholder="History Link">
						  </p>
						</div>
						<div class="field">
						  <p class="control">
							  <button type="submit" class="button is-fullwidth start_tbn mt-3 "> Submit Your URL</button>
						  </p>
						</div>
					</form>
				</div>
			{% endif %}
            {% if chapter.id == 9 %}
				<p class="is-size-5 my-4"> Kombucha is a fermented tea that has gained popularity in recent years due to its potential health benefits, but the microbial composition of Kombucha remains poorly understood.</p>
                <p class="my-4"><a href="https://ift.onlinelibrary.wiley.com/doi/10.1111/1750-3841.14992" class="button is-link is-fullwidth start_tbn"><strong>Paper: Microbial composition of Kombucha ...</strong></a></p>
                <p class="is-size-5 my-4"> In this paper, the authors aimed to investigate the microbial communities of homemade Kombucha fermentations using both amplicon sequencing and shotgun metagenomics.</p>
                <p class="is-size-5 my-4"> Please read this paper, and here is a set of quiz questions that can help you understand the paper more:</p>
			{% endif %}
            {% if chapter.id == 10 %}
				<div class="m-3">
                    <p class="is-size-4 my-4">Now that you have read the paper, it's time to jump on <a href="https://galaxyproject.org/">Galaxy</a> to do an analysis by yourself!</p>
                    <p class="is-size-5">From the paper and the work done in level2, you should know that some common steps are:</p>
                    <div class="content">
                        <ul>
                            <li>Create a new history.</li>
                            <li>Upload datasets: The datasets in this paper are available on <a href="https://www.ebi.ac.uk/ena/browser/view/PRJEB22200">ENA (Project number: PRJEB22200)</a>. Upload them to galaxy using urls.</li>
                            <li>Quality control: Assessment of the sequencing quality is crucial to eliminate low-quality reads, adapter contamination, and other sources of errors.</li>
                            <li>Read pre-processing: This involves trimming adapters, removing low-quality reads, filtering out reads with low complexity, and correcting sequencing errors if needed.</li>
                            <li>Taxonomic profiling: This step involves assigning taxonomy to reads, either by aligning reads to a reference database or by using marker genes to classify reads.</li>
                            <li>Statistical analysis: This step involves data normalization, differential abundance analysis, and other statistical methods to identify differences in taxonomic and functional profiles between samples.</li>
                            <li>Data visualization: Visualization of the results can be done using various tools such as heatmaps, bar charts, and network graphs to better understand the microbial community structure and function.</li>
                        </ul>
                    </div>
					<hr>
				</div>
			{% endif %}
            {% if chapter.id == 11 %}
				<div class="m-3">
                    <p class="is-size-4 mt-4">Congratulations on finishing the data analysis!</p>
                    <p class="is-size-4 mt-2 mb-6">Now let's rewind your methods and do a comparison with the original results.</p>
                </div>
			{% endif %}
			{% if questions %}
				<div id="quiz"></div>
			{% endif %}
		</div>
</div>

<script>
    $(document).ready(function () {
        let questions = {{questions | tojson}};
        let chapter = {{chapter| tojson}};
        let myHTML = `<form action="/quiz/${chapter.id}/submit" method="post">`;
        myHTML += `<p class="quiz_title has-text-weight-bold"> Quiz </p>`;
        for (let i = 0; i < questions.length; i++) {
            myHTML += '<hr>'
            myHTML += '<div class="quiz_text">';
            myHTML += `<h1 class="q_title">${questions[i].title}</h1>`;
            myHTML += `<p class="q_points">${questions[i].point}Pts</p>`;
            myHTML += '</div>'
			if(questions[i].image_name != null && questions[i].image_name.trim())
				myHTML += `<div class="q_image_block">
								<figure class="image">
									<img src="/static/quiz_images/${questions[i].image_name}">
								</figure>
							</div>`
            let choices = questions[i].choices;
            if (questions[i].type == "grid" || questions[i].type == "grid_checkbox") {
                let cur_type = questions[i].type;
                myHTML += `<table class="table is-bordered is-striped  is-hoverable is-fullwidth">
                             <thead>
                               <tr>
                                <th>&nbsp;</th>`;
                for (let j = 0; j < choices.length; j++) {
                    myHTML += `<th>${choices[j].content}</th>`;
                }
                myHTML += '    </tr> </thead> <tbody>';
                let k = i;
                for (; k < questions.length && questions[k].type==cur_type; k++) {
                        choices = questions[k].choices;
                    myHTML += `<tr><td>${questions[k].description}</td>`;
                    for (let j = 0; j < choices.length; j++){
                        if(cur_type=="grid")
                            myHTML += `<td> <label class="checkbox"><input type="radio" name="${questions[k].id}" value="${choices[j].id}">&nbsp;</label></td>`;
                        else
                            myHTML += `<td> <label class="checkbox"><input type="checkbox" name="${questions[k].id}" value="${choices[j].id}">&nbsp;</label></td>`;
                    }
                    myHTML += `</tr>`;
                }
                myHTML += '  </tbody></table>';
				if(questions[k-1].hint) {
					myHTML += `<div class="dropdown-wrapper mt-2 hidden">
							  <div class="trigger">
							  	<button class="button is-info is-outlined" type="button">
									<span class="button-text">show hint</span>
									<span class="icon is-small">
										<i class="fas fa-angle-down" aria-hidden="true"></i>
									</span>
							  	</button>
							  </div>
							  <p class="hint"> ${questions[k-1].hint} </p>
							</div>`
				}
                myHTML += '</div>';
                i = k -1;
            } else if(questions[i].type === "choose_one" || questions[i].type === "choose_many"){
                myHTML += '<div id="q_choices" class="q_choices">';
                if(questions[i].type.trim() == "choose_one"){
                    for (let j = 0; j < choices.length; j++) {
                        myHTML += `<div class="radio_wrapper wrapper">
                                    <input type="radio" name="${questions[i].id}" id="${choices[j].id}" value="${choices[j].id}">
                                    <label for="${choices[j].id}" class="choice_text"> ${choices[j].content} </label>
                                </div>`;
                    }
                }else{
                    for (let j = 0; j < choices.length; j++) {
                        myHTML += `<div class="checkbox_wrapper wrapper">
                                    <input type="checkbox"  name="${questions[i].id}" class="check" id="${choices[j].id}" value="${choices[j].id}">
                                    <label for="${choices[j].id}" class="choice_text"> ${choices[j].content} </label>
                                </div>`;
                    }
                }
				if(questions[i].hint) {
					myHTML += `<div class="dropdown-wrapper mt-2 hidden">
							  <div class="trigger">
							  	<button class="button is-info is-outlined" type="button">
									<span class="button-text">show hint</span>
									<span class="icon is-small">
										<i class="fas fa-angle-down" aria-hidden="true"></i>
									</span>
							  	</button>
							  </div>
							  <p class="hint"> ${questions[i].hint} </p>
							</div>`
				}
                myHTML += '</div>';
            }else if(questions[i].type === "open"){
                myHTML += `
                        <div class="field" id="answer${questions[i].id}">
                          <div class="control">
                            <textarea class="textarea" name="${questions[i].id}" placeholder="Write your answer here"></textarea>
                          </div>
                        </div>
                      `
            }
        }
        myHTML += `<button type="submit" class="button is-fullwidth start_tbn mt-3 "> Submit my anwers</button></form>`
        $('#quiz').html(myHTML);
		$('.dropdown-wrapper').click(function() {
		  this.classList.toggle('hidden');
		  var hint_btn = $(this).find('.button-text');
		  if (hint_btn.text() === "show hint") {
			  $(this).find('.button-text').text("hide hint");
		  } else {
			  $(this).find('.button-text').text("show hint");
		  }
		});
    });
</script>

{% endblock %}