{% extends 'base.html' %}
{% block body %}

<div class="quiz_wrapper columns mb-6">
		<div class="quiz quiz-menu column is-one-fifth mt-6">
			<aside class="menu mt-6">
				<ul class="menu-list">
				<li><a href="/level1/intro"> Overview </a></li>
				{% for c in chapters %}
					<li class="mt-4"><a {% if c.id == chapter.id %} class="is-active" {%endif%} href="/level1/chapter/{{c.id}}"> Chapter {{c.id}}: {{c.name}} </a></li>
				{% endfor %}
				</ul>
			</aside>
		</div>
		<div class="quiz column is-four-fifths p-6">
			<div class="section">
				<p class="is-size-3 has-text-weight-bold mb-3">Level {{chapter.level_id}} Chapter {{chapter.id}}: {{chapter.name}}</p>
				<!--<div><a href="slides.html">Slides</a></div> -->
				<figure class="image is-16by9">
					<iframe class="has-ratio" width="600" height="450" src="https://www.youtube.com/embed/{{chapter.url}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</figure>
			</div>
			<hr>
			<div id="quiz"></div>
		</div>
</div>

<script>
    $(document).ready(function () {
        let questions = {{questions | tojson}};
        let chapter = {{chapter| tojson}};
        let myHTML = `<form action="/quiz/${chapter.id}/submit" method="post">`;
        myHTML += `<p class="quiz_title has-text-weight-bold">Level ${chapter.level_id} Chapter ${chapter.id} Quiz</p>`;
        for (let i = 0; i < questions.length; i++) {
            myHTML += '<hr>'
            myHTML += '<div class="quiz_text">';
            myHTML += `<h1 class="q_title">${questions[i].title}</h1>`;
            myHTML += `<p class="q_points">${questions[i].point}Pts</p>`;
            myHTML += '</div>'
            let choices = questions[i].choices;
            // myHTML += '<div id="q_choices" class="q_choices">';
            if (questions[i].type == "grid" || questions[i].type == "grid checkbox") {
                let cur_type = questions[i].type;
                myHTML += `<table class="table is-bordered is-striped  is-hoverable is-fullwidth">
                             <thead>
                               <tr>
                                <th>&nbsp;</th>`;
                for (let j = 0; j < choices.length; j++) {
                    myHTML += `<th>${choices[j].content}</th>`;
                }
                myHTML += '    </tr> </thead> <tbody>';
                let k = i;
                for (; k < questions.length && questions[k].type==cur_type; k++) {
                        choices = questions[k].choices;
                    myHTML += `<tr><td>${questions[k].description}</td>`;
                    for (let j = 0; j < choices.length; j++){
                        if(cur_type=="grid")
                            myHTML += `<td> <label class="checkbox"><input type="checkbox" name="${questions[k].id}" value="${choices[j].id}">&nbsp;</label></td>`;
                        else
                            myHTML += `<td> <label class="checkbox"><input type="radio" name="${questions[k].id}" value="${choices[j].id}">&nbsp;</label></td>`;
                    }
                    myHTML += `</tr>`;
                }
                myHTML += '  </tbody></table>';
                i = k -1;
            } else {
                myHTML += '<div id="q_choices" class="q_choices">';
                if(questions[i].type=="choose one"){
                    for (let j = 0; j < choices.length; j++) {
                        myHTML += `<div class="radio_wrapper wrapper">
                                    <input type="radio"  name="${questions[i].id}" id="${choices[j].id}" value="${choices[j].id}">
                                    <label for="${choices[j].id}" class="choice_text"> ${choices[j].content} </label>
                                </div>`;
                    }
                }else{
                    console.log("hit")
                    for (let j = 0; j < choices.length; j++) {
                        myHTML += `<div class="checkbox_wrapper wrapper">
                                    <input type="checkbox"  name="${questions[i].id}" class="check" id="${choices[j].id}" value="${choices[j].id}">
                                    <label for="${choices[j].id}" class="choice_text"> ${choices[j].content} </label>
                                </div>`;
                    }
                }
				myHTML += `<div class="dropdown-wrapper mt-2 hidden">
							  <div class="trigger">
							  	<button class="button is-info is-outlined" type="button">
									<span class="button-text">show hint</span>
									<span class="icon is-small">
										<i class="fas fa-angle-down" aria-hidden="true"></i>
									</span>
							  	</button>
							  </div>
							  <p class="hint" >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap </p>
							</div>`
                myHTML += '</div>';
            }
        }
        myHTML += `<button type="submit" class="button is-fullwidth quiz_btn"> Submit my anwers</button></form>`
        $('#quiz').html(myHTML);
		$('.dropdown-wrapper').click(function() {
		  this.classList.toggle('hidden');
		  var hint_btn = $(this).find('.button-text');
		  if (hint_btn.text() === "show hint") {
			  $(this).find('.button-text').text("hide hint");
		  } else {
			  $(this).find('.button-text').text("show hint");
		  }
		});
    });
</script>

{% endblock %}