{% extends 'base.html' %}
{% block body %}
<div class="passed_content">
	<section class="section">
		<div class="container content  ">
			<h1 id="lets-start-the-game">Let’s start the Game!</h1>
			<p>Sam, a curious young alien robot from a faraway galaxy, invites you to discover a little blue planet in the Milky Way.</p>
			<center>
				<iframe width="900" height="506" src="https://www.youtube.com/embed/x9o0BIf-Kzs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
			</center>
			<p>Sam will guide you through the game and you will learn about the Earth and life on it with him. Press the button to start.</p>
			<p><a href="/level1/chapter/1" class="button is-link is-large is-fullwidth"><strong>Start</strong></a></p>
		</div>
	</section>
</div>
{% endblock %}