<div class="quiz quiz-menu column is-one-fifth mt-6">
    <aside class="menu mt-6">
        <ul class="menu-list">
        {% if level_dict %}
            {% for lvl_id, chapters in level_dict.items() %}
                <li><a class=" {% if cur_lvl_intro and cur_lvl_intro == lvl_id %} is-active {% endif %} has-text-weight-bold" href="/level/{{lvl_id}}/intro"> Level {{lvl_id}} Overview </a></li>
                {% for c in chapters %}
                    <li class="mt-4">
                        <a {% if chapter and c.id == chapter.id %} class="is-active" {%endif%}
                            href="{% if c.done == 1 %}
                                /level/{{lvl_id}}/chapter/{{c.order_id}}/result
                            {% else %}
                                /level/{{lvl_id}}/chapter/{{c.order_id}}
                            {% endif %}"> Chapter {{c.id}}: {{c.name}}
                            {% if c.done == 1 %}
                                <span class="icon-text has-text-success">
                                    <span class="icon">
                                    <i class="fas fa-check-square"></i>
                                    </span>
                                </span>
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            <hr>
            {% endfor %}
        {% endif %}
        </ul>
    </aside>
</div>