<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
      <a class="navbar-item logo" href="/">
          <img src="/static/images/logo.png" alt="DNAnalyzer">
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
          data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
      </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
          <a href="/" class="navbar-item is-active">
              Home
          </a>
          <a href="/about" class="navbar-item">
              About
          </a>
          <a class="navbar-item" href="https://streetscience.community/">
              <img src="/static/images/logo_streetscience.png" alt="Street Science Community">
          </a>
      </div>

      <div class="navbar-end">
          <div class="navbar-item">
            {% if current_user.is_authenticated %}
                <p class="mx-3">
                    Hi {{ current_user.username }}!
                </p>
                <div class="buttons">
                    <a class="button sign-up" href="/logout">
                        <strong>Logout</strong>
                    </a>
                </div>
            {% else %}
                <div class="buttons">
                    <a class="button login" href="/login">
                        Log in
                    </a>
                    <a class="button sign-up" href="/register">
                        <strong>Sign up</strong>
                    </a>
                </div>
            {% endif %}
          </div>
      </div>
  </div>
</nav>