{% extends 'base.html' %}
{% block body %}
<div class="passed_content">
	<section class="section">
		<div class="container content  ">
			<h1 id="lets-start-the-game">Let’s start the Game!</h1>
			<p>Sam, a curious young alien robot from a faraway galaxy, invites you to discover a little blue planet in the Milky Way.</p>
			<center>
				<iframe width="900" height="506" src="https://www.youtube.com/embed/x9o0BIf-Kzs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
			</center>
			<p>Sam will guide you through the game and you will learn about the Earth and life on it with him. Press the button to start.</p>
			<p><a href="/level1/chapter/1" class="button is-link is-large is-fullwidth"><strong>Start</strong></a></p>
			<h2 id="results">Results</h2>
			<p>Results of the games of all players are presented in the table below.</p>
			<center>
				<iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vR7eW6vVlzmGaFtA4p6FcuW6GJzstwMQEqnF5WxI_OHJsGYnItCFUjh9BS5OxQmyFKrvXgASz5XJKAR/pubhtml?gid=605107361&amp;single=true&amp;widget=true&amp;headers=false" width="920" height="315" frameborder="0" marginheight="0" marginwidth="0"></iframe>
			</center>
		</div>
	</section>
</div>
{% endblock %}