{% extends 'base.html' %}

{% block body %}

<div class="quiz">
    {% if questions %}
        {% for question in questions %}
            <h1 class="q_title">{{question.title}}</h1>
            {% if question.description %}
                <p class="q_description">{{question.description}}</p>
            {% endif %}
            <div id="q_choices" class="q_choices">
                <div class="columns is-multiline choice_block">
                    {% for choice in question.choices%}
                        <div class="wrapper column is-5">
                            <input type="checkbox" class="check" id="{{ choice.id }}">
                            <label for="{{ choice.id }}" class="choice_text"> {{ choice.content }} </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

    {% endif %}


</div>

<script>
    $('.check').click(function () {

        if ($(this).is(':checked') == true) {
             $(this).parent().css('background', '#95D6A2');
        }
        else{
            $(this).parent().css('background', '#E5E8EE');
        }
    });
</script>


{% endblock %}