<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ "/css/slides.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/font-awesome.css" | prepend: site.baseurl }}" id="theme">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon" />
    <meta name="description" content="{{ og_desc | strip_html | truncate: 60}}" />
    <meta property="og:title" content="Street Science Community: {{ og_title | truncate: 60}}" />
    <meta property="og:description" content="{{ og_desc | strip_html | truncate: 60}}" />
  </head>
  <body>
    <textarea id="source">
name: inverse
layout: true
class: center, middle, inverse

---

# {{ page.title }}

---

{{ content | xml_escape }}
    </textarea>
    <script src="{{ "/js/remark-latest.min.js" | prepend: site.baseurl }}" type="text/javascript">
    </script>
    <script type="text/javascript">
      var slideshow = remark.create({navigation: {scroll: false,}});
      var hljs = remark.highlighter.engine;
    </script>
  </body>
</html>
