<div class="mcq panel panel-primary">
    <div class="panel-heading">
      {% if include.header %} {{ include.header }} {% else %}Question {{ include.count }} {% endif %}
    </div>
    <div class="panel-body">
      <div class="qtext">{{ include.text | markdownify}}
      {% if include.image %} <br><img src="{{ include.image }}" width="200" height="150"> {% endif %}
      </div>
    </div>
    <table class="choices table" style="border-bottom:1px solid #ddd">
      <tbody>
        {% for choice in include.item.items %}
        
          {% if choice.correct == true %}
              {% assign answer-index = forloop.index0 %}
          {% endif %}
        
          <tr class="choice">
          <td class="choice-radio col-xs-1">
            <input type="radio" name="radio-choices">
          </td>
          <td class="choice-text">{{ choice.choice | markdownify }}</td>
          <td class="choice-feedback"><span class="hidden text-muted">
          {% if choice.correct == true %}
              {{ include.item.followup.text | markdownify }}{% if include.item.followup.image %} <br><img src="{{ include.item.followup.image }}" width="200" height="200"> {% endif %}
          {% else %} 
              Try again!
          {% endif %}
          </span></td>
          </tr>
          
          
        {% endfor %}
      </tbody>
    </table>
    <div class="feedback text-center">
      <span class="success-msg lead text-success hidden">You have successfully completed this question!</span>
    </div>
    <div class="text-center" style="padding: 5px;">
      <button class="check btn btn-primary" onClick="(function (btn){
                        answerIndex = {{answer-index}};
                        feedback = btn.parentNode.previousElementSibling
                        feedbackMsg = feedback.firstElementChild;
                        choices = feedback.previousElementSibling.firstElementChild.children;
                        pBody = feedback.previousElementSibling.previousElementSibling;
                        panel = pBody.parentNode;
                        for (i=0; i<choices.length; i++){
                          radio = choices[i].firstElementChild.firstElementChild;
                          radio.setAttribute('disabled', true);
                          if (radio.checked) {
                            msg = choices[i].lastElementChild.firstElementChild;
                            msg.classList.remove('hidden');
                            panel.classList.remove('paenl-primary');
                            if (i === answerIndex) {
                              panel.classList.add('panel-success');
                              feedbackMsg.classList.remove('hidden');
                            } else {
                              panel.classList.add('panel-danger');
                            }
                          }
                        }
                        btn.classList.add('disabled');
                        //btn.setAttribute('disabled', true);
                     }(this))">
        Check Answer
      </button>
      <button class="reset btn btn-default" onClick="(function (btn){
                        feedback = btn.parentNode.previousElementSibling
                        feedbackMsg = feedback.firstElementChild;
                        feedbackMsg.classList.add('hidden');
                        choices = feedback.previousElementSibling.firstElementChild.children;
                        pBody = feedback.previousElementSibling.previousElementSibling;
                        panel = pBody.parentNode;
                        panel.classList.remove('panel-success');
                        panel.classList.remove('panel-danger');
                        panel.classList.add('panel-primary');
                        for (i=0; i<choices.length; i++){
                          radio = choices[i].firstElementChild.firstElementChild;
                          radio.checked = false;
                          radio.removeAttribute('disabled');
                          msg = choices[i].lastElementChild.firstElementChild;
                          msg.classList.add('hidden');
                          text = feedback.previousElementSibling;
                          text.classList.remove('text-success');
                          text.classList.remove('text-danger');
                        }
                        btn.previousElementSibling.classList.remove('disabled');
                        //btn.previousElementSibling.removeAttribute('disabled');
                     }(this))">Try Again</button>
    </div>
  </div>